{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Superadministrador{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/superadministrador/base_superadmin.css' %}">
    <link rel="stylesheet" href="{% static 'usuarios/css/superadministrador/superadmin.css' %}">
    {% block extra_css %}{% endblock %}
</head>
<body>
    <!-- Sidebar/Navbar -->
    <div class="sidebar">
        <div class="sidebar-header">
            <div class="user-avatar">SU</div>
            <div>
                <h2>SuperUsuario <span class="superuser-badge">Admin</span></h2>
                <p>Panel de Control</p>
            </div>
        </div>
        
        <div class="nav-container">
            <nav>
                <a href="{% url 'panel_superadmin' %}" class="nav-item" style="text-decoration: none;">
                    <i class="fas fa-home"></i>
                    <span>Inicio</span>
                </a>
                <a href="{% url 'gestion_colegios' %}" class="nav-item" style="text-decoration: none;">
                    <i class="fas fa-school"></i>
                    <span>Colegios</span>
                </a>
                <a href="{% url 'gestion_administradores' %}" class="nav-item" style="text-decoration: none;">
                    <i class="fas fa-book"></i>
                    <span>Administrador Acadamico</span>
                </a>
                <a href="{% url 'gestion_profesor' %}" class="nav-item" style="text-decoration: none;">
                    <i class="fas fa-book"></i>
                    <span>Profesores</span>
                </a>
                <a href="{% url 'gestion_estudiante' %}" class="nav-item" style="text-decoration: none;">
                    <i class="fas fa-book"></i>
                    <span>Alumnos</span>
                </a>

                <a href="{% url 'gestion_documentos_superadministrador' %}" class="nav-item">
                    <i class="fas fa-book"></i>
                    <span>Gestión Contenido</span>
                </a>
                
                <a href="{% url 'laboratorios_list' %}" class="nav-item" style="text-decoration: none;">
                    <i class="fas fa-flask"></i>
                    <span>Laboratorios</span>
                </a>
                <span class="nav-item disabled">
                    <i class="fas fa-puzzle-piece"></i>
                    <span>Componentes</span>
                </span>
               <a href="{% url 'dashboard_superadmin' %}" class="nav-item" style="text-decoration: none;">
                    <i class="fas fa-book"></i>
                    <span>Reportes</span>
                </a>
            </nav>
            
            <button class="btn btn-logout" onclick="logout()">
                <i class="fas fa-sign-out-alt"></i>
                <span>Cerrar Sesión</span>
            </button>
        </div>
    </div>
    
    <!-- CONTENIDO -->
    <main class="main-content">
        {% block content %} 
        {% endblock %}
    </main>
    
    <script src="{% static 'js/superadministrador/superadmin.js' %}"></script>

</body>
</html>